.timer {
  margin: auto;
  width: 346px;
  height: 72px;
  display: flex;
  gap: 24px;
}

.value {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4%;
}
.label {
  width: 44px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.start-btn {
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  opacity: 1;
  top: 372px;
  left: 28px;
  gap: 10px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 4%;
  color: white;
}

.start-btn:hover,
.start-btn:focus {
  background-color: #6c8cff;
}
.disable {
  background-color: #cfcfcf;
  color: #989898;
}
.disable:hover,
.disable:focus {
  background-color: #cfcfcf;
  color: #989898;
  cursor: default;
}
