:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
  color: white;
}

.main-btn {
  min-width: 260px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
  font-weight: 500;
  font-size: 28px;
  border-radius: 10px;
  background-color: burlywood;
  border: none;
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
